// TODO: Import config scss
$lightGray: #fafafa;

$titleColor: $lightGray;
$baseFontColor: #ccc;

.section-header {
    display: inline-block;
    color: $titleColor;
}

.section-header + .btn-create-project {
    position: relative;
    margin-top: 25px;
    margin-bottom: 10px;
}

.row .col-grid {
    margin-bottom: 20px;
}

.image-holder {
    background-color: transparent;
    padding-bottom: 20px;
}

.image-holder img {
    width: 100%;
    height: 100%;
}

.image-holder .project-title {
    color: $baseFontColor;
    text-align: center;
}