<section>
    <ui-view class="project-details"></ui-view>

    <section class="project-list">
        <div class="page-header">
            <h1 class="section-header">Select Project</h1>
            <button ng-if="vm.isUserDefined() === true" id="btn-create-project" class="btn-create-project btn btn-primary pull-right" ui-sref="portfolio.create">+ Create Project</button>
        </div>
        <div class="row">
            <a class="col-md-4 col-grid" ng-repeat="portfolio in vm.portfolioList"
               ui-sref="portfolio.list.view({ portfolioId: portfolio._id })">
                <div class="image-holder">
                    <img ng-src="{{portfolio.heroImageURL}}"/>
                    <h4 class="project-title" ng-bind="portfolio.title"></h4>
                </div>
            </a>
        </div>
        <div class="alert alert-warning text-center" ng-if="vm.portfolioList.$resolved && !vm.portfolioList.length">
            No projects yet, why don't you <a ui-sref="portfolio.create">create one</a>?
        </div>
    </section>
</section>