.section-header {
  color: #fafafa; }

.row .col-grid {
  margin-bottom: 20px; }

.image-holder {
  background-color: transparent;
  padding-bottom: 20px; }

.image-holder img {
  width: 100%;
  height: 100%; }

.image-holder .project-title {
  color: #ccc;
  text-align: center; }

/*# sourceMappingURL=portfolio-list.css.map */
