.section-header {
  display: inline-block;
  color: #fafafa; }

.section-header + .btn-create-project {
  position: relative;
  margin-top: 25px;
  margin-bottom: 10px; }

.row .col-grid {
  margin-bottom: 20px; }

.image-holder {
  background-color: transparent;
  padding-bottom: 20px; }

.image-holder img {
  width: 100%;
  height: 100%; }

.image-holder .project-title {
  color: #ccc;
  text-align: center; }
