@import "../../../../core/client/css/common.scss";

#heart-form {
    @include box-shadow(0, 0, 10px, rgba(0, 0, 0, 0.2), inset);
    padding: 20px;
    min-height: 200px;
    color: #000011;
    border: 1px solid #fff;
    background-color: rgba(240,243, 248, .9);
    z-index: 1000;
}