<form id="heart-form" name="vm.form.heartForm" class="form-horizontal col-xs-12 col-sm-6 col-sm-offset-3" ng-submit="" novalidate>
    <!-- first name -->
    <div class="form-group" show-errors>
        <label class="control-label" for="firstName">First Name<span class="required-mark">*</span></label>
        <input name="name" type="text" ng-model="vm.heart.firstName" id="firstName" class="form-control" placeholder="first name" required>
        <div ng-messages="vm.form.heartForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">first name is required.</p>
        </div>
    </div>

    <!-- last name -->
    <div class="form-group" show-errors>
        <label class="control-label" for="lastName">Last Name<span class="required-mark">*</span></label>
        <input name="name" type="text" ng-model="vm.heart.lastName" id="lastName" class="form-control" placeholder="last name" required>
        <div ng-messages="vm.form.heartForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">last name is required.</p>
        </div>
    </div>

    <!-- email -->
    <div class="form-group" show-errors>
        <label class="control-label" for="email">Email<span class="required-mark">*</span></label>
        <input name="email" type="text" ng-model="vm.heart.email" id="email" class="form-control" placeholder="email" required>
        <div ng-messages="vm.form.heartForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">email required.</p>
        </div>
    </div>

    <!-- color -->
    <div class="form-group" show-errors>
        <label class="control-label">Color</label>
        <select class="form-control" name="color"
                ng-model="vm.heart.color"
                ng-change="vm.handleColorOptionChange(vm.heart.color)"
                ng-options="o.value as o.name for o in vm.hearColorOptions">
            <option value="">Choose a color</option>
        </select>
        <div ng-messages="vm.form.heartForm.color.$error" role="alert">
            <p class="help-block error-text" ng-message="required">color required.</p>
        </div>

        <label class="control-label">Preview</label>
        <div id="color-preview" class="color-preview"></div>
    </div>

    <!-- message -->
    <div class="form-group" show-errors>
        <label id="message" class="control-label" for="message" placeholder="phrase">Message</label>
        <select name="message"
                class="form-control"
                ng-model="vm.heart.message"
                ng-options="o.value as o.name for o in vm.heartPhraseList">
            <option value="">Choose a phrase</option>
        </select>
        <!--<div ng-messages="vm.form.heartForm.message.$error" role="alert">
            <p class="help-block error-text" ng-message="required">message required.</p>
        </div>-->
    </div>

    <!-- save -->
    <div class="form-group">
        <button type="submit" class="btn btn-default" ng-click="vm.save(vm.form.heartForm.$valid, true)">{{vm.heart._id ? 'Update' : 'Save'}}</button>
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
        <button ng-if="vm.heart._id" type="button" class="btn btn-default" ng-click="vm.remove()">Delete</button>
    </div>


    <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
    </div>
</form>