@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
@-webkit-keyframes scaleY {
  0% {
    height: 0; }
  100% {
    height: 100%; } }
@-moz-keyframes scaleY {
  0% {
    height: 0; }
  100% {
    height: 100%; } }
@-ms-keyframes scaleY {
  0% {
    height: 0; }
  100% {
    height: 100%; } }
@-o-keyframes scaleY {
  0% {
    height: 0; }
  100% {
    height: 100%; } }
@keyframes scaleY {
  0% {
    height: 0; }
  100% {
    height: 100%; } }
.portfolio-item-title,
.list-title {
  color: #fff; }

.portfolio-item-content {
  text-align: left;
  color: #ccc; }

#portfolio-item-section {
  overflow: hidden;
  opacity: 0;
  -webkit-animation: fadeIn 1s ease forwards;
  -moz-animation: fadeIn 1s ease forwards;
  -ms-animation: fadeIn 1s ease forwards;
  -o-animation: fadeIn 1s ease forwards;
  animation: fadeIn 1s ease forwards; }
  #portfolio-item-section .gallery-widget {
    text-align: center;
    height: auto;
    overflow: hidden; }
    #portfolio-item-section .gallery-widget .gallery-viewport {
      position: relative;
      margin-bottom: 10px;
      height: 300px;
      background-color: #000;
      overflow: hidden; }
      #portfolio-item-section .gallery-widget .gallery-viewport .item-holder {
        position: absolute; }
        #portfolio-item-section .gallery-widget .gallery-viewport .item-holder:before {
          content: '';
          display: inline-block;
          height: 100%;
          line-height: 100%;
          vertical-align: middle; }
        #portfolio-item-section .gallery-widget .gallery-viewport .item-holder .image-holder {
          display: inline-block;
          vertical-align: middle;
          padding: 0;
          margin: 0;
          width: 95%;
          /* prevent wrapping when vertically centering */
          opacity: 0; }
          #portfolio-item-section .gallery-widget .gallery-viewport .item-holder .image-holder.image-holder.active {
            -webkit-animation: fadeIn 1s ease forwards;
            -moz-animation: fadeIn 1s ease forwards;
            -ms-animation: fadeIn 1s ease forwards;
            -o-animation: fadeIn 1s ease forwards;
            animation: fadeIn 1s ease forwards; }
    #portfolio-item-section .gallery-widget .gallery-buttons-row {
      position: relative;
      text-align: left; }
      #portfolio-item-section .gallery-widget .gallery-buttons-row .gallery-button {
        display: inline-block;
        margin-right: 10px;
        border: none;
        background-color: #c1c1c1;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        cursor: pointer; }
        #portfolio-item-section .gallery-widget .gallery-buttons-row .gallery-button.active {
          background-color: #ffc520; }

/*# sourceMappingURL=portfolio-item.css.map */
