<section id="portfolio-item-section">
    <div class="page-header">
        <h1 class="portfolio-item-title" ng-bind="vm.portfolio.title"></h1>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div  ng-show="vm.authentication.user._id == vm.portfolio.user._id">
                <a class="btn btn-primary" ui-sref="portfolio.edit({ portfolioId: vm.portfolio._id })">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-primary" ng-click="vm.remove()">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="gallery-widget row">
        <div class="section col-xs-12 col-md-7">
            <div class="gallery-viewport row">
                <div class="item-holder absolute-center col-xs-12" ng-repeat="image in vm.portfolio.imageListURL">
                    <div class="image-holder"
                         ng-class="{'active': $first}"
                         data-index="{{$index}}"
                         data-src="{{vm.portfolio.imageListURL[$index]}}">

                        <img ng-src="{{image}}"/>
                    </div>
                </div>
            </div>

            <div class="gallery-buttons-row row">
                <div class="col-xs-12">
                    <div class="section-actions col-inline">
                        <a ng-if="vm.portfolio.link != ''" class="btn btn-gold" ng-click="vm.launchProject()">Launch Project</a>
                        <a class="btn btn-gold" ng-click="vm.pauseGalleryInterval()">{{vm.isPaused ? 'Play' : 'Pause'}}</a>
                    </div>

                    <div class="section-gallery-actions col-inline">
                        <div class="gallery-button"
                             ng-class="{'active': $first}"
                             data-index="{{$index}}"
                             data-src="{{vm.portfolio.imageListURL[$index]}}"
                             ng-repeat="image in vm.portfolio.imageListURL"
                             ng-click="vm.setActiveThumbByIndex($index, $event)"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="portfolio-item-content section col-xs-12 col-md-5">
            <p ng-bind-html="vm.portfolio.content"></p>

            <div ng-if="vm.portfolio.technology">
                <h4 class="list-title">Technology</h4>
                <p class="portfolio-item-content" ng-bind="vm.portfolio.technology"></p>
            </div>
        </div>
    </div>
</section>