@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

// ex: @include animation('fadeOut .3s 1');
@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@include keyframes(fadeOut) {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@include keyframes(fadeIn) {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@include keyframes(scaleY) {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

// ex: @include transition(opacity .3s ease);
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

$brandingColor: #ffc520;
$navDefaultColor: #c1c1c1;
$titleColor: #fff;
$baseFontColor: #ccc;

.portfolio-item-title,
.list-title {
    color: $titleColor;
}

.portfolio-item-content {
    text-align: left;
    color: $baseFontColor;
}

#portfolio-item-section {
    overflow: hidden;
    opacity: 0;
    @include animation('fadeIn 1s ease forwards');

    .section {
        margin-bottom: 15px;
    }

    .col-inline {
        display: inline-block;
    }

    .btn-gold {
        color: #fff;
        background-color: #ffc520;
    }

    .gallery-widget {
        text-align: center;
        height: auto;
        overflow: hidden;

        .gallery-viewport {
            position: relative;
            margin-bottom: 10px;
            height: 300px;
            background-color: #000;
            overflow: hidden;

            .item-holder {
                position: absolute;

                &:before {
                    content: '';
                    display: inline-block;
                    height: 100%;
                    line-height: 100%;
                    vertical-align: middle;
                }

                .image-holder {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0;
                    margin: 0;
                    width: 95%; /* prevent wrapping when vertically centering */
                    opacity: 0;
                    img {}

                    &.image-holder.active {
                        @include animation('fadeIn 1s ease forwards');
                    }
                }
            }
        }

        .gallery-buttons-row {
            position: relative;
            text-align: left;

            .section-actions {
                margin-bottom: 10px;
                margin-right: 10px;

                .btn {
                    min-width: 65px;
                }
            }

            .section-gallery-actions {
                position: relative;
                top: 5px;
            }

            .gallery-button {
                display: inline-block;
                margin-right: 10px;
                border: none;
                background-color: $navDefaultColor;
                width: 20px;
                height: 20px;
                border-radius: 20px;
                cursor: pointer;

                &.active {
                    background-color: $brandingColor;
                }
            }
        }
    }
}