#home-section .body-section {
  margin: 10px 0;
  padding: 5rem 0;
  border-bottom: #dddddd solid 1px; }
#home-section .body-section.dark {
  color: #333;
  background: #fafafa; }
#home-section .body-section.light {
  -webkit-box-shadow: inset 0px 30px 30px -30px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0px 30px 30px -30px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 30px 30px -30px rgba(0, 0, 0, 0.05); }
#home-section .intro {
  font-size: 1.5rem; }

/*# sourceMappingURL=home.css.map */
