<section id="home-section" ng-controller="HomeController">
    <header>
        <h2>Hi! Welcome to John Aleman Media</h2>
        <h3>I'm a UI/Front End Developer out of the San Francisco Bay Area.</h3>
        <div class="intro">
            <p class="intro">
                I love to bring design ideas to life. I have a passion for creating beautiful, intuitive websites and applications.
            </p>
        </div>
    </header>

    <section class="body-section dark summary row row-centered">
        <div class="summary-item col-xs-12 col-sm-3 col-centered">
            <h3 class="summary-item-title">Technology</h3>
            <div class="summary-item-text">
                <ul>
                    <li>Javascript (jQuery, AngularJS)</li>
                    <li>HTML5</li>
                    <li>CSS3 (SASS)</li>
                </ul>
            </div>
        </div>
        <div class="summary-item col-xs-12 col-sm-3 col-centered">
            <h3 class="summary-item-title">Project Types</h3>
            <div class="summary-item-text">
                <ul>
                    <li>Responsive Websites</li>
                    <li>Single Page Applications</li>
                    <li>Digital Signage</li>
                </ul>
            </div>
        </div>
        <div class="summary-item col-xs-12 col-sm-3 col-centered">
            <h3 class="summary-item-title">Frameworks</h3>
            <div class="summary-item-text">
                <ul>
                    <li>AngularJS</li>
                    <li>Bootstrap</li>
                    <li>meanjs</li>
                    <li>PHP Yii 1.x/2.x</li>
                </ul>
            </div>
        </div>
        <div class="summary-item col-xs-12 col-sm-3 col-centered">
            <h3 class="summary-item-title">Likes</h3>
            <div class="summary-item-text">
                <ul>
                    <li>Food (pizza, chicken wings)</li>
                    <li>Sports (football, tennis)</li>
                    <li>Sunny Days</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="body-section dark row row-centered">
        <div class="col-xs-12 col-centered">
            <chart-bar series-data="barSeriesData" category-data="categoryData"></chart-bar>
        </div>
    </section>
</section>
