<section>
    <div class="page-header">
        <h1>{{vm.portfolio._id ? 'Edit Project' : 'New Project'}}</h1>
    </div>
    <div class="col-md-12">
        <form name="vm.form.portfolioForm" class="form-horizontal" ng-submit="" novalidate>
            <fieldset>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" ng-click="vm.save(vm.form.portfolioForm.$valid)">{{vm.portfolio._id ? 'Update' : 'Create'}}</button>
                </div>

                <div class="form-group" show-errors>
                    <label class="control-label" for="order">Order</label>
                    <input name="order" type="text" ng-model="vm.portfolio.order" id="order" class="form-control" placeholder="99" required>
                    <div ng-messages="vm.form.portfolioForm.order.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Order is required.</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <label class="control-label" for="title">Title</label>
                    <input name="title" type="text" ng-model="vm.portfolio.title" id="title" class="form-control" placeholder="Title" required>
                    <div ng-messages="vm.form.portfolioForm.title.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Project title is required.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="content">Content</label>
                    <!--<textarea name="content" data-ng-model="vm.portfolio.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>-->
                    <summernote config="options" name="content" data-ng-model="vm.portfolio.content" id="content" class="form-control"></summernote>
                </div>

                <div class="form-group">
                    <label class="control-label" for="technology">Technology</label>
                    <input name="technology" type="text" ng-model="vm.portfolio.technology" id="technology" class="form-control" placeholder="">
                </div>

                <div class="form-group">
                    <label class="control-label" for="link">Link</label>
                    <input name="link" type="text" ng-model="vm.portfolio.link" id="link" class="form-control" placeholder="http://">
                </div>

                <!-- hero image -->
                <file-upload header="Select Hero" on-success-item="vm.onSuccessHeroItem" multi-select=vm.heroMultiSelect></file-upload>
                <div ng-if="vm.portfolio.heroImageURL != ''" class="existing-files-container row">
                    <h3>Current Hero Image</h3>

                    <div class="file-holder col-md-3">
                        <img ng-src="{{vm.portfolio.heroImageURL}}">

                        <button type="button" class="btn btn-danger btn-xs" ng-click="vm.removeHeroItem()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </div>
                </div>

                <!-- associated images -->
                <file-upload header="Select Images" on-success-item="vm.onSuccessImageListItem" multi-select=vm.thumbsMultiSelect></file-upload>
                <div ng-if="vm.portfolio.imageListURL.length > 0" class="existing-files-container row">
                    <h3>Current Associated Images</h3>

                    <div ng-repeat="itemUrl in vm.portfolio.imageListURL" class="file-holder col-md-3">
                        <img ng-src="{{itemUrl}}">

                        <button type="button" class="btn btn-danger btn-xs" ng-click="vm.removeImageListItemByURL(itemUrl)">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default" ng-click="vm.save(vm.form.portfolioForm.$valid)">{{vm.portfolio._id ? 'Update' : 'Create'}}</button>
                </div>
                <div ng-show="vm.error" class="text-danger">
                    <strong ng-bind="vm.error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>