.existing-files-container .file-holder {
  margin-bottom: 20px; }
  .existing-files-container .file-holder img {
    width: 100%;
    height: 100%;
    margin-bottom: 5px; }

/*# sourceMappingURL=form.css.map */
