header {
  box-shadow: 0; }

header.navbar-inverse
.box-shadow:after {
  content: "";
  width: 150px;
  height: 1px;
  margin-top: 88px;
  margin-left: -75px;
  display: block;
  position: absolute;
  left: 50%;
  z-index: -1;
  box-shadow: 0px 0px 8px 2px #000000; }

header.navbar-inverse.theme-dark {
  background-color: #1C1C1F; }

header.navbar-inverse {
  border: none;
  background-image: none;
  height: 68px;
  padding: 2px 0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1); }
  header.navbar-inverse .navbar-collapse {
    border: none;
    overflow: hidden; }
    header.navbar-inverse .navbar-collapse .navbar-nav {
      margin: 0 -15px; }
      @media only screen and (min-width: 768px) {
        header.navbar-inverse .navbar-collapse .navbar-nav {
          margin: 0; } }
    header.navbar-inverse .navbar-collapse .navbar-nav > li > a {
      padding: 20px 20px;
      color: #c1c1c1;
      font-size: 2.3rem;
      line-height: 2.3rem;
      background-color: #1C1C1F; }
      header.navbar-inverse .navbar-collapse .navbar-nav > li > a:hover, header.navbar-inverse .navbar-collapse .navbar-nav > li > a:focus {
        color: #fff;
        background-image: none;
        background-color: #1C1C1F; }
    header.navbar-inverse .navbar-collapse .navbar-nav > .active > a, header.navbar-inverse .navbar-collapse .navbar-nav > .active > a:hover, header.navbar-inverse .navbar-collapse .navbar-nav > .active > a:focus {
      color: #fff;
      background-image: none;
      background-color: #1C1C1F;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.1); }
  header.navbar-inverse .navbar-header {
    margin-left: 0;
    background-color: transparent; }
    header.navbar-inverse .navbar-header .navbar-toggle {
      border: none;
      background-color: transparent; }
      header.navbar-inverse .navbar-header .navbar-toggle:hover, header.navbar-inverse .navbar-header .navbar-toggle:focus {
        background-color: transparent; }
      header.navbar-inverse .navbar-header .navbar-toggle .icon-bar {
        background-color: #ffc520; }
    header.navbar-inverse .navbar-header .navbar-brand {
      position: relative;
      margin: 0;
      padding: 0;
      top: 3px;
      color: #fec523;
      background: url("/modules/core/client/img/brand/jam-logo.png") no-repeat;
      background-size: contain;
      width: 100px;
      height: 60px; }
      header.navbar-inverse .navbar-header .navbar-brand:hover, header.navbar-inverse .navbar-header .navbar-brand:focus {
        position: relative;
        margin: 0;
        padding: 0;
        top: 3px;
        color: #fec523;
        background: url("/modules/core/client/img/brand/jam-logo.png") no-repeat;
        background-size: contain;
        width: 100px;
        height: 60px; }
