$headerBgColor: #1C1C1F;
$brandingColor: #ffc520;
$navSelectedColor: #fff;
$navDefaultColor: #c1c1c1;
$purple: #902C8D;

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $color;
        -moz-box-shadow:inset $top $left $blur $color;
        box-shadow:inset $top $left $blur $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}

header {
    box-shadow: 0;
}
header.navbar-inverse
.box-shadow:after {
    content: "";
    width: 150px;
    height: 1px;
    margin-top: 88px;
    margin-left: -75px;
    display: block;
    position: absolute;
    left: 50%;
    z-index: -1;
    -webkit-box-shadow: 0px 0px 8px 2px #000000;
    -moz-box-shadow: 0px 0px 8px 2px #000000;
    box-shadow: 0px 0px 8px 2px #000000;
}

header.navbar-inverse.theme-dark {
    background-color: $headerBgColor;
}

header.navbar-inverse {
    // reset bootstrap
    border: none;
    background-image: none;

    height: 68px;
    padding: 2px 0;
//    background-color: #fff;
    @include box-shadow(0, 3px, 8px, rgba(0,0,0,0.1));

    .navbar-collapse {
        border: none;
        overflow: hidden;

        .navbar-nav {
            margin: 0 -15px;

            @media only screen and (min-width : 768px) {
                margin: 0;
            }
        }

        .navbar-nav {
            > li > a {
                padding: 20px 20px;
                color: $navDefaultColor;
                font-size: 2.3rem;
                line-height: 2.3rem;
                background-color: $headerBgColor;

                &:hover,
                &:focus {
                    color: $navSelectedColor;
                    background-image: none;
                    background-color: $headerBgColor;
                }
            }
            > .active > a {
                &,
                &:hover,
                &:focus {
                    color: $navSelectedColor;
                    background-image: none;
                    background-color: $headerBgColor;
//                    background-color: rgba(255, 255, 255, 0.1);
                    @include box-shadow(0, 0, 0, rgba(0, 0, 0, 0.1));
                }
            }
        }
    }

    .navbar-header {
        margin-left: 0;
//        border-bottom: 1px solid #c2c2c2;
        background-color: transparent;

        .navbar-toggle {
            border: none;
            background-color: transparent;

            &:hover,
            &:focus {
                background-color: transparent;
            }

            .icon-bar {
                background-color: $brandingColor;
            }
        }

        @mixin baseNavBarBrand {
            position: relative;
            margin: 0;
            padding: 0;
            top: 3px;
            color: #fec523;
//            background: url('img/core/client/img/brand/jam-logo.png') no-repeat;
            background: url('/modules/core/client/img/brand/jam-logo.png') no-repeat;
            background-size: contain;
            width: 100px;
            height: 60px;
        }
        .navbar-brand {
            @include baseNavBarBrand;
            &:hover,
            &:focus {
                @include baseNavBarBrand;
            }
        }
    }
}