body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  color: #fafafa;
  background-color: #121314; }

ul {
  padding: 0; }

ul li {
  list-style: none; }

.content {
  margin-top: 75px; }

.undecorated-link:hover {
  text-decoration: none; }

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important; }

.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px; }

.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1; }

.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important; }

.error-text {
  display: none; }

.has-error .help-block.error-text {
  display: block; }

.has-error .help-inline.error-text {
  display: inline; }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  vertical-align: top;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px; }

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
