<section id="section-vday" class="text-center">
    <!--<h3>{{vm.heart._id ? 'Edit Heart' : 'Create Heart'}}</h3>-->

    <div id="main-action-section">
        <button type="button" class="btn btn-default btn-lg create-heart-btn" ui-sref="vday.list.create">
            <span class="action-text">Create</span>
            <!--<span class="white glyphicon glyphicon-plus" aria-hidden="true"></span>-->
            <span class="pink glyphicon glyphicon-heart" aria-hidden="true"></span>
        </button>
    </div>

    <div id="canvas" class="row">
        <div class="xs-col-12">
            <!-- form -->
            <ui-view></ui-view>

            <div id="heart-container">
                <div class="heart-holder">
                    <svg class="heart" width="100%" viewBox="0 0 793 1122" xmlns="http://www.w3.org/2000/svg">
                        <title>heart</title>
                        <g>
                            <title>Layer 1</title>
                            <g id="layer1">
                                <path fill="none" stroke="#000000" stroke-width="10.700001" stroke-miterlimit="4" id="path7" d="m263.41571,235.145874c-66.240005,0 -119.999954,53.76001 -119.999954,120c0,134.755524 135.933151,170.08728 228.562454,303.308044c87.574219,-132.403381 228.5625,-172.854584 228.5625,-303.308044c0,-66.23999 -53.759888,-120 -120,-120c-48.047913,0 -89.401611,28.370422 -108.5625,69.1875c-19.160797,-40.817078 -60.514496,-69.1875 -108.5625,-69.1875z"/>
                            </g>
                        </g>
                    </svg>
                </div>

                <div ng-repeat="heart in vm.heartList"
                     id="user-heart-{{$index}}"
                     class="user-heart-holder fade"
                     data-index="{{$index}}"
                     ng-init="vm.isUserHeartLoadComplete($last)">

                    <div class="user-heart">
                        <div class="heart-content">{{vm.getFirstChar(heart.firstName) | uppercase}} {{vm.getFirstChar(heart.lastName) | uppercase}}</div>

                        <svg class="heart" width="100%" viewBox="0 0 793 1122" xmlns="http://www.w3.org/2000/svg">
                            <title>heart</title>
                            <g>
                                <title>Layer 1</title>
                                <g id="layer1" ng-click="vm.handleUserHeartClick(heart)">
                                    <path fill="{{heart.color}}" stroke="none" stroke-width="10.700001" stroke-miterlimit="4" id="path7" d="m263.41571,235.145874c-66.240005,0 -119.999954,53.76001 -119.999954,120c0,134.755524 135.933151,170.08728 228.562454,303.308044c87.574219,-132.403381 228.5625,-172.854584 228.5625,-303.308044c0,-66.23999 -53.759888,-120 -120,-120c-48.047913,0 -89.401611,28.370422 -108.5625,69.1875c-19.160797,-40.817078 -60.514496,-69.1875 -108.5625,-69.1875z"/>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>

            <div id="message-container"></div>
        </div>
    </div>

</section>