@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@-webkit-keyframes scaleY {
  0% {
    height: 0; }
  100% {
    height: 100%; } }

@keyframes scaleY {
  0% {
    height: 0; }
  100% {
    height: 100%; } }

#section-vday #main-action-section {
  margin: 10px 0 20px 0; }
  #section-vday #main-action-section .create-heart-btn {
    border: none;
    padding: 10px;
    font-size: 1.3em;
    border-radius: 5px; }
    #section-vday #main-action-section .create-heart-btn .action-text {
      position: relative;
      top: -3px;
      color: #333;
      font-weight: bold; }
    #section-vday #main-action-section .create-heart-btn .glyphicon-plus,
    #section-vday #main-action-section .create-heart-btn .glyphicon-heart {
      font-size: 1.2em; }
  #section-vday #main-action-section .pink {
    color: #EA4D89; }
  #section-vday #main-action-section .blue {
    color: #186CAC; }
  #section-vday #main-action-section .white {
    color: #fff; }

#section-vday #canvas {
  position: relative;
  height: 500px;
  text-align: left;
  /* scale the svg via css */
  /*http://stackoverflow.com/questions/19484707/how-can-i-make-an-svg-scale-with-its-parent-container*/ }
  #section-vday #canvas #heart-container {
    position: relative;
    height: 500px;
    z-index: 10; }
    #section-vday #canvas #heart-container .heart-holder {
      position: absolute;
      width: 50px;
      z-index: 1; }
    #section-vday #canvas #heart-container .user-heart-holder {
      position: absolute;
      width: 100px;
      z-index: 2; }
      #section-vday #canvas #heart-container .user-heart-holder .user-heart {
        z-index: 2; }
        #section-vday #canvas #heart-container .user-heart-holder .user-heart .heart-content {
          position: absolute;
          margin: 0 auto;
          left: 0;
          right: 0;
          top: 44px;
          margin-right: 4px;
          color: #fff;
          letter-spacing: 1px;
          text-align: center;
          pointer-events: none; }
        #section-vday #canvas #heart-container .user-heart-holder .user-heart .heart-content.dark {
          color: #000; }
        #section-vday #canvas #heart-container .user-heart-holder .user-heart .heart g g {
          cursor: pointer; }
  #section-vday #canvas #message-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    pointer-events: none; }
    #section-vday #canvas #message-container .user-heart-message-holder {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
      padding: 20px;
      margin: 10px auto;
      width: 200px;
      top: 50px;
      min-height: 20px;
      color: #000011;
      border: 1px solid #fff;
      background-color: rgba(240, 243, 248, 0.9); }
      #section-vday #canvas #message-container .user-heart-message-holder .user-heart-name {
        margin-bottom: 5px; }
      #section-vday #canvas #message-container .user-heart-message-holder .user-heart-message {
        margin-bottom: 10px; }
  #section-vday #canvas .required-mark {
    color: #ff0000;
    margin-left: 2px;
    vertical-align: top; }
  #section-vday #canvas .color-preview {
    width: 20px;
    height: 20px;
    border: 1px solid #000; }
  #section-vday #canvas .form-group {
    margin-left: 0;
    margin-right: 0; }
  #section-vday #canvas .fade {
    opacity: 0;
    -webkit-transition: opacity 0.8s ease-in;
    transition: opacity 0.8s ease-in; }
    #section-vday #canvas .fade.in {
      opacity: 1; }

#section-vday #actions {
  margin-bottom: 20px; }
