@import "../../../../core/client/css/common.scss";
@import "../../../../core/client/css/animate.scss";

#section-vday #main-action-section {
    margin: 10px 0 20px 0;

    .create-heart-btn {
//        background: #ddddff;
        border: none;

        padding: 10px;
        font-size: 1.3em;
        border-radius: 5px;

        .action-text {
            position: relative;
            top: -3px;
            color: #333;
            font-weight: bold;
        }

        .glyphicon-plus,
        .glyphicon-heart {
            font-size: 1.2em;
        }
    }

    .pink {
        color: #EA4D89;
    }

    .blue {
        color: #186CAC;
    }

    .white {
        color: #fff;
    }
}

#section-vday #canvas {
    position: relative;
    height: 500px;
    text-align: left;

    /* scale the svg via css */
    /*http://stackoverflow.com/questions/19484707/how-can-i-make-an-svg-scale-with-its-parent-container*/
    #heart-container {
        position: relative;
        height: 500px;
        z-index: 10;

        .heart-holder {
            position: absolute;
            width: 50px;
            z-index: 1;
        }

        .user-heart-holder {
            position: absolute;
            width: 100px;
            z-index: 2;

            .user-heart {
                z-index: 2;

                .heart-content {
                    position: absolute;
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                    top: 44px;
                    margin-right: 4px;
                    color: #fff;
                    letter-spacing: 1px;
                    text-align: center;
                    pointer-events: none;
                }

                .heart-content.dark {
                    color: #000;
                }

                .heart g g {
                    cursor: pointer;
                }
            }
        }
    }

    #message-container {
        position:absolute;
        top: 0;
        left:0;
        right:0;
        margin: auto;
        z-index: 100;
        pointer-events: none;

        .user-heart-message-holder {
            @include box-shadow(0, 0, 10px, rgba(0, 0, 0, 0.2), inset);

            padding: 20px;
            margin: 10px auto;
            width: 200px;
            top: 50px;
            min-height: 20px;
            color: #000011;
            border: 1px solid #fff;
            background-color: rgba(240,243, 248, .9);

            .user-heart-name {
                margin-bottom: 5px;
            }

            .user-heart-message {
                margin-bottom: 10px;
            }
        }
    }

    .required-mark {
        color: #ff0000;
        margin-left: 2px;
        vertical-align: top;
    }

    .color-preview {
        width: 20px;
        height: 20px;
        border: 1px solid #000;
    }

    .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .select-container {

    }

    .fade {
        opacity: 0;
        @include transition(opacity .8s ease-in);
        &.in {
            opacity: 1;
        }
    }
}

#section-vday #actions {
    margin-bottom: 20px;
}